@import '../../style/variables.scss';

.add-form {
    margin: 15px auto;
    padding: 5px 10px;
    width: 450px;
    display: flex;
    background-color: $ivy;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__input {
        padding-right: 10px;
        width: 100%;
        color: $dark;
    }

    &__btn {
        color: $dark;
        cursor: pointer;
        padding: 1px 7px;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        transition: all .3;
        &:active {
            transform: scale(0.8);
        }
    }

}